<demo-side-bar-wrapper [expandedValue]="expanded" [positionValue]="position">
  <h1 id="header">User List !</h1>
  <ul>
    <li *ngFor="let column of element; let i = index">
      <input type="checkbox" name="check{{i}}" [(ngModel)]="column.show" /> {{column.title}}
    </li>
  </ul>
</demo-side-bar-wrapper>

<demo-side-bar-wrapper [expandedValue]="expanded" [positionValue]="position">
  <ng-content></ng-content>
</demo-side-bar-wrapper>
<kendo-grid 
    [data]="data"
    [kendoGridBinding]="data"
    [groupable]="false"
    [group]="groups"
    [pageable]="true" 
    [pageSize]="9"
    [reorderable]="true"
    [resizable]="true"
    [sortable]="{
        allowUnsort: allowUnsort,
        mode: multiple ? 'multiple' : 'single'
      }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    [height]="450"
    [selectable]="true"
    (groupChange)="groupChange($event)"
    [rowSticky]="rowSticky"
    [class]="(fixedRowReverce)? 'right-to-left': 'left-to-right'"
    
>
    <!-- <kendo-grid-checkbox-column
    [showSelectAll]="true"
    ></kendo-grid-checkbox-column> -->

    <ng-template kendoGridToolbarTemplate>
      <button type="button" kendoGridExcelCommand icon="file-excel">
        Export to Excel
      </button>
      <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
    </ng-template>
    <kendo-grid-column [width]="46" *ngIf="rowStickyFeature">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span
          *ngIf="isSticky(dataItem.clientId); else stick"
          class="k-icon k-i-unstick"
          (click)="toggleStickyRow(dataItem.clientId)"
        ></span>
        <ng-template #stick>
          <span
            class="k-icon k-i-stick"
            (click)="toggleStickyRow(dataItem.clientId)"
          ></span>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="{{column.name}}" title="{{column.title}}" [hidden]="!column.show" [width]="column.width" *ngFor="let column of element" [sticky]="column.sticky" [locked]="column.locked" [class]="column.class" [headerClass]="headerClass">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" *ngIf="column.celTempEnable">
        <span [innerHTML]="column.cellTemplate(dataItem) | sanitizedHtml"></span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-excel fileName="Business.xlsx"></kendo-grid-excel>
    <kendo-grid-pdf
        fileName="Businessgrid.pdf"
        [allPages]="true"
        paperSize="A4"
        [repeatHeaders]="true"
        [landscape]="true"
      >
        <kendo-grid-pdf-margin
          top="2cm"
          left="1cm"
          right="1cm"
          bottom="2cm"
        ></kendo-grid-pdf-margin>
        <ng-template
          kendoGridPDFTemplate
          let-pageNum="pageNum"
          let-totalPages="totalPages"
        >
          <div class="page-template">
            <div class="header">
              <div style="float: right">
                Page {{ pageNum }} of {{ totalPages }}
              </div>
              
            </div>
            <div class="footer">Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
      
    <!-- <kendo-grid-column field="abn" title="ABN" [width]="200"> </kendo-grid-column>
    <kendo-grid-column field="businessCode" title="Business Code" [width]="150"> </kendo-grid-column>
    <kendo-grid-column field="businessName" title="Business Name" [width]="150"> </kendo-grid-column>
    <kendo-grid-column field="importedFrom" title="Imported From" [width]="150"> </kendo-grid-column>
    <kendo-grid-column field="lastImportedon" title="Last Imported On" [width]="250"> </kendo-grid-column>
    <kendo-grid-column field="latestJob" title="Latest Job" [width]="150"> </kendo-grid-column>
    <kendo-grid-column field="mapedAccountant" title="Maped Accountant" [width]="150"> </kendo-grid-column> -->
    <!-- <kendo-grid-column field="Action" [width]="70" [sticky]="true"> -->
        <ng-template kendoGridCellTemplate let-column let-columnIndex="columnIndex" let-rowIndex="rowIndex">
            <kendo-menu [openOnClick]="true">
                <kendo-menu-item text="" icon="gear">
                  <ng-template kendoMenuItemContentTemplate>
                    <div style="padding: 10px;">
                        <button type="button" kendoButton (click)="open(rowIndex)">delete</button>
                    </div>
                </ng-template>
                  <!-- <kendo-dropdownlist value=""> -->
                    <kendo-menu-item text="Edit" icon="pencil"> </kendo-menu-item>
                    <kendo-menu-item (select)="open(rowIndex)" text="Delete" icon="trash"> </kendo-menu-item>
                  <!-- </kendo-dropdownlist> -->
                </kendo-menu-item>
            </kendo-menu>
            
        </ng-template>
    <!-- </kendo-grid-column> -->
    
    
</kendo-grid>
<!-- <kendo-datapager
[style.width.%]="100"
[pageSize]="pageSize"
[skip]="skip"
[total]="data.length"
(pageChange)="onPageChange($event)"
>
</kendo-datapager> -->