<kendo-drawer-container>
    <kendo-drawer #drawer mode="overlay" 
    [position]="positionValue" 
    [(expanded)]="expandedValue"
    (expandedChange)="onExpandChange($event)"
    >
        <ng-template kendoDrawerHeaderTemplate>
            <div *ngIf="expandedValue" style="margin-top: 16px; margin-left: 16px;">
                <div class="wrapper">
                    <h1 select="#header"></h1>
                    <ng-content></ng-content>
                    <button kendoButton (click)="closeSidebar()">
                        Close
                    </button>
                    <!-- <ng-content select="#footer1"></ng-content> -->
                </div>
            </div>
        </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
        <div class="k-form">
            <div class="k-form-field">
                <!-- <button kendoButton (click)="drawer.toggle()">
            Toggle the Drawer
          </button> -->
                <button kendoButton (click)="openSidebar()">
                    Toggle the Drawer
                </button>
            </div>
        </div>
    </kendo-drawer-content>
</kendo-drawer-container>