
<button kendoButton (click)="showConfirmation()">Please confirm</button>
<button kendoButton (click)="warningBox()">warning</button>
<!-- <cloude-audit-side-bar-wrapper [expandedValue]="expanded" [positionValue]="position">
    <h1 id="header">User Form !</h1>
    <kendo-tabstrip>
      <kendo-tabstrip-tab [selected]="true">
        <ng-template kendoTabTitle>
          <h4>Custom Title</h4>
        </ng-template>
        <ng-template kendoTabContent>
          <h3>Content 1</h3>
        </ng-template>
      </kendo-tabstrip-tab>
    
      <kendo-tabstrip-tab title="Sofia">
        <ng-template kendoTabContent>
          <h3>Content 2</h3>
    
          <div class="container">
          <form class="k-form">
            <kendo-formfield>
              <label for="name">Name*</label>
              <input id="name" formControlName="name" kendoTextBox />
              <kendo-formerror>Error: Name is required</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
              <label for="age">Age:</label>
              <input id="age" formControlName="age" type="number" kendoTextBox />
            </kendo-formfield>
          </form>
        </div>
        </ng-template>
        
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </cloude-audit-side-bar-wrapper>
   -->

   <div class="example-wrapper">
    <button
      kendoButton
      *ngIf="!dialogOpened && !windowOpened"
      (click)="open('dialog')"
    >
      Open dialog
    </button>
    <button
      kendoButton
      *ngIf="!dialogOpened && !windowOpened"
      (click)="open('window')"
    >
      Open window
    </button>
    <kendo-dialog
      title="Please confirm"
      *ngIf="dialogOpened"
      (close)="close('dialog')"
      [minWidth]="250"
      [width]="450"
    >
      <p style="margin: 30px; text-align: center;">
        Are you sure you want to continue?
      </p>
      <kendo-dialog-actions>
        <button kendoButton (click)="action('no')">No</button>
        <button kendoButton (click)="action('yes')" themeColor="primary">
          Yes
        </button>
      </kendo-dialog-actions>
    </kendo-dialog>

    <kendo-window
      [minWidth]="200"
      [minHeight]="125"
      title="About"
      *ngIf="windowOpened"
      (close)="close('window')"
    >
      <p style="text-align: center;">Additional info</p>
    </kendo-window>
  </div>
  <div kendoDialogContainer></div>
  <demo-side-bar-wrapper [expandedValue]="expanded" [positionValue]="position">
    <h1 id="header">User List !</h1>
    <kendo-grid [kendoGridBinding]="sampleCustomers" [pageSize]="10" [pageable]="true" [sortable]="true"
      [filterable]="true" [groupable]="true" [height]="420">
      <kendo-grid-column field="CompanyName" [width]="140"></kendo-grid-column>
      <kendo-grid-column field="ContactName" [width]="120"></kendo-grid-column>
      <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
      <kendo-grid-column field="ContactTitle" [width]="130"></kendo-grid-column>
    </kendo-grid>
  </demo-side-bar-wrapper>

  <demo-wrap-table [data]="gridData2" [element]="column" [fixedRowReverce]="false" [rowStickyFeature]="false" >
    <div>
      <div>
        <input type="text" name="client_name" placeholder="Clients"/>
      </div>
      <div>
        <input type="text" name="abn" placeholder="ANB"/>
      </div>
      <input type="button" value="Search" (click)="trigger()" />
    </div>
  </demo-wrap-table>