.loader-wrap {
    display: block;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .loader {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 170px;
            height: 170px;
        }
    }
}
