<div *ngIf="!loader">    
    <ng-content></ng-content>
</div>
<div *ngIf="loader" class="loader-wrap">    
    <div *ngIf="loader" class="loader">
        <img src="/assets/images/loader.gif" />
    </div>
</div>