<!-- <kendo-dialog-titlebar>
  {{title}}
</kendo-dialog-titlebar> -->
<div class="container">
  {{contentMessage}}
</div>
<!-- <kendo-dialog-actions>
  <button kendoButton *ngIf="button1" [themeColor]="themeColorbutton1" (click)="onCancelAction()">{{button1}}</button>
  <button kendoButton *ngIf="button2" (click)="onConfirmAction()" [themeColor]="themeColorbutton2" > {{button2}}</button>
</kendo-dialog-actions> -->
